<wicket:panel>


<style>

.button{

width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;

}



</style>
	<form wicket:id="form">
		<input type="text" wicket:id="tfAusgabe" size=27 readonly /> <br>
		<br>

		<p>
			<input wicket:id="seven" type="submit" value="7" class="button"> <input
				wicket:id="eight" type="submit" value="8" class="button"> <input
				wicket:id="nine" type="submit" value="9" class="button"> <input
				wicket:id="multiply" type="submit" value="X" class="button">
		</p>


<p>
		<input wicket:id="four" type="submit" value="4" class="button"> <input
			wicket:id="five" type="submit" value="5" class="button"> <input
			wicket:id="six" type="submit" value="6" class="button"> <input
			wicket:id="minus" type="submit" value="-" class="button">

		</p>
		
		
		<p>
			<input wicket:id="one" type="submit" value="1" class="button"> <input
				wicket:id="two" type="submit" value="2" class="button"> <input
				wicket:id="three" type="submit" value="3" class="button"> <input
				wicket:id="plus" type="submit" value="+" class="button">
		</p>
		
		
		<p>
			<input wicket:id="delete" type="submit" value="CE" class="button"> <input
				wicket:id="zero" type="submit" value="0" class="button"> <input
				wicket:id="comma" type="submit" value="." class="button"> <input
				wicket:id="divide" type="submit" value="/" class="button">

		</p>

		<p>

			<input wicket:id="deleteAll" type="submit" value="C" class="button"> <input
				wicket:id="equal" type="submit" value="=" class="button">


		</p>

	</form>

</wicket:panel>
